.wrapper {
    background-color: var(--color-background-content);
    height: 100%;
    padding: 1px;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    z-index: 0;
}

.loader {
    font-family: monospace;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
}
