.root {
    display: flex;
    align-items: center;

    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    user-select: none;
    cursor: pointer;
}

.root:focus {
    outline: var(--color-outline-primary) dotted 2px;
}

.root:hover {
    filter: brightness(1.1);
}

.root:active {
    border-color: var(--color-border-outset-outer-secondary);
    box-shadow: inset 0 0 0 1px var(--color-border-outset-inner-secondary);
}

.size-s {
    padding: 2px;
}

.size-m {
    padding: 4px;
}

.size-l {
    padding: 8px;
}
