.wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.background {
    flex: 1;
    height: 100px;
    background: url('../../assets/header-bg.svg');
    background-repeat: no-repeat;
    background-position: 0 10px;
}