.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    background: url('../../assets/header-bg.svg');
    background-repeat: no-repeat;
    background-size: 1900px 800px;
    z-index: -1;
}