.clippy {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.clippy:focus-visible {
    outline: var(--color-outline-secondary) dotted 1px;
}

.clippy img {
    width: 110px;
    height: 110px;
    object-fit: scale-down;
    object-position: bottom left;
}