@font-face {
    font-family: 'SpaceInvaders';
    src: url(./assets/space-invaders.woff) format('woff');
    font-style: normal;
}

.root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-size: 150px;
}

.canvas {
    max-height: 100%;
    max-width: 100%;
    outline: 1px solid black;
}
