.root {
    background-color: unset;
    border: unset;
    
    padding: 4px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    
    cursor: pointer;
    text-decoration: none;
}

.root:focus {
    outline: var(--color-outline-secondary) dotted 1px;
}

.root:hover {
    background-color: var(--color-blur-secondary);
}

.image {
    position: relative;
    min-width: 40px;
    min-height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
}

.label {
    user-select: none;
    color: var(--color-text-secondary);
    text-align: center;
    font-size: 14px;
}

.root:active .image::before,
.root:active .label {
    background-color: var(--color-blur-accent);
}
