.border-inset {
    border-width: 0.8px;
    border-style: solid;
    border-top-color: var(--color-border-inset-outer-primary);
    border-left-color: var(--color-border-inset-outer-primary);
    border-bottom-color: var(--color-border-inset-outer-secondary);
    border-right-color: var(--color-border-inset-outer-secondary);
    box-shadow:
        inset -1px -1px 0 0 var(--color-border-inset-inner-secondary),
        inset 1px 1px 0 0 var(--color-border-inset-inner-primary);
}