.border-outset {
    border-width: 0.8px;
    border-bottom-color: #000;
    border-right-color: #000;
    border-top-color: #fff;
    border-left-color: #fff;
    box-shadow:
        inset -1px 0 0 0 grey,
        inset -1px 1px 0 0 #fff,
        inset -1px -1px 0 0 grey,
        inset 0 0 0 1px #fff;
}