.collapse {
    position: absolute;
    inset: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: monospace, sans-serif;
    color: white;

    background-color: blue;
    opacity: 0;

    animation-name: appear;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.content {
    width: 90%;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
}

.collapse h3 {
    background-color: white;
    color: blue;
    padding: 4px;
}

.collapse p {
    margin: 8px 0;
}

.collapse a {
    color: white;
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}