.root {
    min-width: 200px;
    min-height: 100px;
    width: 100%;
    height: 100%;

    position: absolute;
    padding: 2px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    background-color: var(--color-background-primary);
}

.header {
    padding: 2px;
    margin: 1px;
    display: flex;
    align-items: center;
    user-select: none;
    background: linear-gradient(
        90deg,
        var(--color-accent-inactive-primary),
        var(--color-accent-inactive-secondary)
    );
}

.active {
    background: linear-gradient(
        90deg,
        var(--color-accent-primary),
        var(--color-accent-secondary)
    );
}

.title {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 4px;
    overflow: hidden;
}

.draggable .title {
    cursor: move;
}

.label {
    color: var(--color-text-secondary);
    font-weight: 700;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.size-s .label {
    font-size: 12px;
}

.size-m .label {
    font-size: 14px;
}

.content {
    flex: 1;
    margin: 8px;
    overflow: hidden;
}
