.root {
    display: flex;
    flex-direction: column;
    background-color: silver;
    position: absolute;
    min-width: 400px;
    padding: 2px;
}

.title {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 2px;
    margin: 1px;
    display: flex;
    align-items: center;
    user-select: none;
}

.active {
    background: linear-gradient(90deg, navy, #1084d0);
}

.inactive {
    background: linear-gradient(90deg,#808080,#c0c0c0);
}

.icon {
    color: black;
}

.icon:nth-child(1) {
    margin-left: auto;
}

.dragging {
    cursor: move;
}
