.root {
    min-width: 200px;
    min-height: 100px;

    position: absolute;
    padding: 2px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    background-color: silver;
}

.header {
    padding: 2px;
    margin: 1px;
    
    display: flex;
    align-items: center;

    color: #fff;
    font-size: 12px;
    font-weight: 700;
    user-select: none;

    background: linear-gradient(90deg,#808080,#c0c0c0);
}

.active {
    background: linear-gradient(90deg, navy, #1084d0);
}

.title {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2px;
    overflow: hidden;
    cursor: move;
}

.label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    color: black;
}
