.root {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex: 1;
    position: relative;
    z-index: 0;
    background-color: var(--color-background-screen);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
}

.clippy {
    position: absolute;
    right: 4px;
    bottom: 12px;
}