@import url('./components/styles/index');

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

/* Provides correct scroll on low height devices */
#app {
    flex: 1;
}
