@import url('normalize.css');
@import url('./components/styles/index');

body {
    height: 100svh;
    display: flex;
    flex-direction: column;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

/* Provides correct scroll on low height devices */
:global(#app) {
    flex: 1;
}
