.image {
    width: 100%;
    object-fit: contain;
}

@keyframes fade {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.loading {
    background-color: var(--color-accent-inactive-secondary);
    animation: fade 2.5s ease-in-out infinite;
}