.popup {
    height: 200px;
    padding: 2px;
    display: flex;
    background-color: var(--color-background-primary);
}

.side {
    width: 16px;
    background: linear-gradient(
        180deg,
        var(--color-accent-primary),
        var(--color-accent-secondary)
    );
}

.list {
    display: flex;
    flex-direction: column;
}

.list button {
    border: none;
}
